body{
	background-color: #eee;
}
/* Forum (Chat) Aberto */
.content {
	padding: 25px;
  position: absolute;
  left: 50vh;
  transition: 0.5s;    
}  

/*	Forum (Chat) Retraido	*/
.content.active {
  left: 0vh;
  transition: 0.5s;    
}
h2 {
	text-align: center;
	margin-top: 5px;
}

.comentarios{
	background-color: #fff;
	margin-bottom: 10px;
	padding-left: 10px;
}

/* Efeito de resposta ao comentario */
span{	
	margin-left: 20px;
}

/* respostas */
.rsposta{
	padding-bottom: 2px;
	margin-left: 30px;
}

/* votações */
.votes{
	display: flex;
	flex-direction: row;
	padding: 5px;
}
/*	botao Like	*/
.img-like{
	height: 35px;
	width: 35px;
	background-image: url("../assets/like.svg");
	transition: 0.5s;
}

.img-like.show{
	height: 35px;
	width: 35px;
	background-image: url("../assets/likes.svg");
	transition: 0.5s;
}

/*	botao DisLike	*/
.img-dislike{
	height: 35px;
	width: 35px;
	background-image: url("../assets/dislike.svg");
	transition: 0.5s;
}

.img-dislike.show{
	height: 35px;
	width: 35px;
	background-image: url("../assets/dislikes.svg");
	transition: 0.5s;
}