h2 {
  text-align: center;
  margin-top: 5px;
}

.comentarios{
  background-color: #fff;
  margin-bottom: 10px;
  padding-left: 10px;
}

/* Efeito de resposta ao comentario */
span{ 
  margin-left: 0px;
}

/* respostas */
.rsposta{
  padding-bottom: 2px;
  margin-left: 30px;
}

/* votações */
.votes{
  display: flex;
  flex-direction: row;
  padding: 5px;
  font-family: arial;
  font-size: 12px;
  font-weight: normal;
}

/* texto comentários */
.comments{
  font-family: arial;
  font-size: 24px;
  font-weight: normal;
}

.topic{
  font-family: arial;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: red;
  padding:5px;
  margin-bottom: 2px;
  margin-right:2px;
  
}

.occupation{
  font-family: arial;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #14e9fc;
  padding:5px;
  margin-bottom: 2px;
  margin-right:2px;
}

/*  botao Like  */
.img-like{
  height: 12px;
  width: 12px;
  background-image: url("../assets/like.svg");
  transition: 0.5s;
  margin-bottom: 0rem
}

.img-like.show{
  height: 12px;
  width: 12px;
  background-image: url("../assets/likes.svg");
  transition: 0.5s;
  margin-bottom: 0rem
}

/*  botao DisLike */
.img-dislike{
  height: 12px;
  width: 12px;
  background-image: url("../assets/dislike.svg");
  transition: 0.5s;
  margin-bottom: 0rem
}

.img-dislike.show{
  height: 12px;
  width: 12px;
  background-image: url("../assets/dislikes.svg");
  transition: 0.5s;
  margin-bottom: 0rem
}
/* Definiçoes da SideBar (Menu Lateral do Forum) */
.sidebar{
  background: #bbb;
  padding-left: 10px;
  position: fixed;
  width: 100vh;
  height: 100vh;
  right: -100vh; /* Tamanho em que ele deverá abrir */
  transition: 0.5s;
  z-index: 1000;
}
/* Aplica efeito de movimentação */
.sidebar.active {
transition: 0.5s;
right: 0px;
}
/* Cria o Botao ao lado da SideBar */
.sidebar .togglebtn {
  position: absolute;
  right: 101vh;
  top: 50vh;
}
/* Aplica efeito de alteração do ponteiro no Botao */
.sidebar .togglebtn:hover {
  cursor: pointer;
}
/* 3 Barras (hamburguer) no Botão */
.sidebar .togglebtn span {
  display: block;
  width: 30px;
  height: 5px;
  background: #000;
  margin: 3px 0px;
}
/* Cria a barra de rolagem nos comentarios */
#exibe_comentarios{
  height: 65vh;
  overflow-y: scroll;
}
/* Ponteiro nos botoes de Fitros */
a, label, input[type=checkbox]{
  cursor: pointer;
}