html,body{
    box-sizing: border-box;
    margin: 0%;
}

#flexnave{
    display: flex;
    position: fixed;
    right: 10px;
    top: 17px;
    flex: 1 1 1;
}

.flexbox{
    display: flex;
    position: relative;
}
.flex{
    display: flexbox;
    /* grid-template-columns: 70vw 30vw; */
    /* grid-template-rows: 85vh 15vh; */
}
.frame{
    border: 2px solid #000;
    border-radius: 1px solid #000;
    transition: 0.3s;
    padding: 20px;
    background-color: #ffffff;
}

.left{
    /* background-color: lightgray; */
}
.right{
    background-color: lightgray;
}

.down{
    background-color: lightgray;
}
.grid_canvas{
    position: relative;
    display: grid;
    top: 20px;
    grid-template-columns: 15vw 59vw ;
    /* z-index: 3; */
}
.canvas_main{
    position: relative;
    border: 2px solid #000;
    border-radius: 1px solid #000;
    /* background-color: white; */
}
.canvas_aux1{
    border: 2px solid #000;
    border-radius: 1px solid #000;
    /* background-color: white; */
    z-index: -30;
}
.canvas_aux2{
    border: 2px solid #000;
    border-radius: 1px solid #000;
    /* background-color: white; */
    z-index: -30;
}

.resize_left{
    position: relative;
    display: flex;
    flex-direction: column;
}
.resize_right{
    position: absolute;
}
.resize_down{
    position: relative;
    left: 95vw;
    z-index: 1000;
}
div[name="barItem"]{
    padding-right: 20px;
}
#over::after {
    content: url("./imagens/down.png");
    position: relative;
    left: 5px;
    top: 3px;
}