@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
#tela-login {
  font-family: 'Arial', sans-serif;
  height: 100vh;
  background-color: #ffffff;
  position: relative;
}

#tela-login #barra-navegacao {
  background-color: #8b8b8b;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tela-login #barra-navegacao .item-navegacao {
  position: relative;
  left: 80%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin-left: 10px;
}

#tela-login #barra-navegacao div {
  margin-right: 10px;
  margin-left: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  display: inline;
}

#tela-login #barra-navegacao a {
  font-family: -apple-system, BlinkMacSystemFont, 'Arial', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: white;
  text-decoration: none;
}

#tela-login #barra-navegacao .logo {
  visibility: hidden;
  -ms-flex-line-pack: left;
      align-content: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  height: 40px;
  margin-left: 0px;
  margin-top: 0px;
}

#tela-login #barra-navegacao img {
  height: 40px;
  padding: 0px;
  background-color: white;
}

#tela-login .bloco-opcoes {
  visibility: hidden;
}

#tela-login img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#tela-login #formulario {
  position: absolute;
  top: 43%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #bebebe;
  width: 564px;
  height: 350px;
  border-radius: 10px 10px 10px 10px;
}

#tela-login #formulario .bloco-entradas {
  position: relative;
  margin-top: 60px;
  margin-left: 15%;
}

#tela-login #formulario .bloco-entradas input {
  position: relative;
  width: 332px;
  background: none;
  border: 0;
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 20px;
  border: 1px solid white;
  padding: 13px 10px;
  outline: none;
  border-radius: 5px 5px 5px 5px;
  color: #bebebe;
  background-color: #f2f3f6da;
}

#tela-login #formulario .bloco-entradas li {
  list-style: none;
}

#tela-login .button-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
  left: 90%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#tela-login .button-class a {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Arial';
  font-size: 14px;
  font-weight: 350;
  position: relative;
  bottom: 2px;
}

#tela-login .button-class button {
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0px;
          box-shadow: 0px 0px 0px;
  border-radius: 10px 10px 10px 10px;
  width: 120px;
  font-size: 20px;
  height: 50px;
}

#tela-login .button-class button:hover {
  background-color: #b6b6b6;
}
/*# sourceMappingURL=tela_login.css.map */