$fundo : #DBDBDB;
$corFormulario : #75767B;
$input : #f2f3f6da;
$defaulColor : #8b8b8b;
$hoverButton : #b6b6b6;
$fundoForum : #DBDBDB;
$fundoComentario : #D5D9F0;
$novoComentario : #ffffff;
$buttonComentario : #8b8b8b;




#forum{

    .containerForum{
        height: 70.3vh;
        overflow-y: scroll;
    }
   .comentario{
       .divComentario{
           background-color: white;
       }
   }
}