select {
  border: none;
  font-size: 10pt;
  color: white;
  font-weight: bold;
  background: #fc6161;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 98%;
  margin-right: 10px;
}

select option {
  color: white;
}

select li {
  list-style: none;
}

.novo-comentario {
  margin-left: 10px;
  bottom: 0px;
  width: 35vw;
  position: relative;
}

.novo-comentario .area-buttons {
  width: 25vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.novo-comentario .area-buttons .left {
  text-align: left;
}

.novo-comentario .area-buttons .right {
  text-align: right;
}

textarea {
  font-size: 12pt;
  font-weight: bold;
  color: black;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  border: none;
  width: 70%;
  height: 50px;
  padding: 0px;
}

.nova-resposta {
  margin: 0px;
  margin-left: 0px;
}

.button-react {
  border: none;
  color: blue;
  font-size: 10pt;
  background: white;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-right: 0px;
  cursor: pointer;
}

.button-forum {
  border: none;
  font-size: 10pt;
  color: #75767B;
  background: white;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  cursor: pointer;
}

.button-resposta {
  border: none;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 10pt;
  color: white;
  font-weight: bold;
  background: #ffbc40;
  text-align: center;
  margin: 10px 5px 0px 5px;
  width: 93%;
  height: 30px;
  padding-top: 15px;
  padding-left: 9.5px;
  padding-right: 9.5px;
}

.button-submit {
  border: none;
  font-size: 10pt;
  color: white;
  font-weight: bold;
  background: #7dd9f5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-left: 30px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.linhasuperior {
  background-color: white;
  padding-left: 7px;
  padding-top: 1px;
  max-width: 350px;
  font-size: 12px;
  color: #75767B;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#forum {
  background-color: rgba(255, 255, 255, 0);
  max-height: 70vh;
}

#forum p {
  line-height: 15px;
  padding-left: 5px;
  padding-bottom: 0px;
}

#forum ul {
  list-style-type: none;
  background-color: rgba(180, 180, 180, 0.5);
  overflow: auto;
  padding: 0px;
  max-height: 75vh;
}

#forum li {
  margin: 10px 5px;
  margin-top: 0px;
  list-style-type: none;
  padding: 0px;
  background-color: white;
}

#forum .containerForum {
  overflow-y: auto;
}

#forum .comentario {
  margin-left: 0px;
  margin-right: 0px;
}

#forum .comentario .divComentario {
  background-color: white;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  overflow: auto;
}

#forum .comentario .dados {
  font-size: 12px;
  color: #75767B;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background-color: white;
  padding: 0px 0px 0px 5px;
  margin: 5px 0px;
}

#forum .comentario .texto {
  font-size: 15px;
  margin-left: 5px;
  font-weight: bold;
  color: black;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background-color: white;
}

#forum .comentario .interesse {
  margin-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10pt;
  color: white;
  background: #7dd9f5;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#forum .comentario .tag {
  margin-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10pt;
  color: white;
  background: #fc6161;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#forum .respostas {
  display: block;
  overflow: hidden;
  width: 95%;
  padding-left: 9.5px;
  padding-right: 9.5px;
}

#forum .respostas .dados {
  font-size: 10pt;
  color: #75767B;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 5px;
}

#forum .respostas .texto {
  font-size: 10pt;
  font-weight: bold;
  color: black;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#forum .respostas .interesse {
  margin-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10pt;
  color: white;
  background: #7dd9f5;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#forum .respostas .tag {
  margin-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10pt;
  color: white;
  background: #fc6161;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.dropbtn-answer {
  cursor: pointer;
  font-size: 12px;
  color: white;
  border: none;
  outline: none;
  padding: 5px 5px;
  font-weight: normal;
  background-color: orange;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  font-family: inherit;
  margin: 0px 3px;
  width: 98%;
}

.dropdown-open-answer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50px;
  overflow: visible;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 255, 0.438);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: blue;
}

.wrapper-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 90%;
  margin-bottom: 10px;
}

.dropdown-closed {
  overflow: hidden;
  height: 0px;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.dropdown-open-filter {
  overflow: hidden;
  height: 200px;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.button {
  margin: 5px 5px 5px 0px;
  border: none;
  height: 45px;
  font-size: 12px;
  border: 2px solid blue;
  border-radius: 5px;
  color: white;
  font-weight: normal;
  background-color: blue;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 5px 5px 0px;
  width: 95%;
}

.filter-dropdown {
  font-size: 12px;
  margin: auto;
}

.filter-dropdown select {
  margin: 5px 5px 5px 0px;
  border: none;
  font-size: 12px;
  height: 45px;
  border: 2px solid blue;
  border-radius: 5px;
  color: blue;
  font-weight: normal;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 5px 5px 0px;
  width: 95%;
  word-break: break-word;
  white-space: normal;
}

.filter-dropdown select:invalid {
  background-color: white;
  color: grey;
  border: 2px solid blue;
}

.filter-dropdown select [disabled] {
  background-color: white;
  color: grey;
}

.filter-dropdown select option {
  background-color: blue;
  color: white;
}

.filter-dropdown select li {
  list-style: none;
  background-color: blue;
}

.filter-dropdown .reset {
  display: inline-block;
  margin: 5px 5px 5px 0px;
  text-align: center;
  vertical-align: middle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  font-family: sans-serif, Arial;
  border: 2px solid blue;
  border-radius: 5px;
  height: 30px;
  padding: 5px 5px 5px 0px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  border: 2px solid blue;
}

.filter-dropdown .reset:hover {
  background-color: rgba(0, 0, 255, 0.438);
}

.filter-dropdown .reset:active {
  background-color: blue;
  border: 2px solid blue;
}

.filter-dropdown label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15%;
  height: 25px;
  background-color: white;
  padding: 5px 5px;
  font-family: sans-serif, Arial;
  border: 2px solid blue;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.filter-dropdown label:hover {
  background-color: rgba(0, 0, 255, 0.438);
}

.filter-dropdown input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.filter-dropdown input[type="radio"]:checked + label {
  background-color: blue;
  color: white;
}

.filter-dropdown input[type="radio"]:focus + label {
  border: 2px dashed blue;
}

.justified {
  margin: 10px 0px 0px 4.5px;
  width: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  overflow: none;
}

textarea {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  resize: none;
  height: 50px;
  width: 100%;
}

.button-enviar-resposta {
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: white;
  line-height: 50px;
  font-weight: bold;
  background: #ffbc40;
  margin: 0px 5px;
  height: 50px;
}

.clicked-answer {
  background-color: white;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  color: black;
  border: solid 2px orange;
}
/*# sourceMappingURL=forum.css.map */