$fundo : rgb(255, 255, 255);
$corFormulario : white;
$input : #f2f3f6da;
$defaulColor : #8b8b8b;
$hoverButton : #b6b6b6;
$fundoForum :rgba(255, 255, 255, 0.86);
$fundoComentario : #D5D9F0;
$novoComentario : #ffffff;
$buttonComentario : #ee3737;

select{ 
    
    border: none;    
    font-size: 10pt;
    color:white;
    font-weight: bold;
    background: #fc6161;
    justify-content: center;   
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 98%; 
    margin-right: 10px;        
        option{        
            color: white;
        }        
        li{
            list-style: none;
        }
    
}
.novo-comentario { 
    margin-left:10px;
    bottom: 0px;
    width: 35vw;
    position:relative;

.area-buttons {
    width: 25vw;
    display: grid;                
    grid-template-columns: 50% 50%;
    .left {
        text-align: left;
    }
    .right {
        text-align: right;
    }

} 
    
}
textarea{
    font-size: 12pt;    
    font-weight: bold;
    color: black;
    justify-content: left;
    border:none;
    width: 25vw;
    padding: 0px;   
   }
.nova-resposta{
    margin:0px;
    margin-left:0px;
}
.button-react{
    border: none;    
    font-size: 10pt;
    color:#75767B;
    background: white;
    justify-content: left;
    margin-right: 0px; 
}
.button-forum{
    border: none;    
    font-size: 10pt;
    color:#75767B;
    background: white;
    justify-content: left;  
}
.button-resposta{
    border: none;    
    font-size: 10pt;
    color:white;
    font-weight: bold;
    background: #ffbc40;
    justify-content: left;
    width: 95%;     
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.button-submit{
    border: none;    
    font-size: 10pt;
    color:white;
    font-weight: bold;
    background: #7dd9f5;
    justify-content: center;
    width: 100%;       
    
    padding-left: 30px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.linhasuperior{
    background-color: white;
    padding-left: 7px;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-top:20px;
    margin-bottom: 0px;
    max-width: 350px;
    font-size: 10pt;
    color: #75767B;
    justify-content: left;
}

#forum{ 
    background-color:rgba(255, 255, 255, 0);
    height: 90vh;
      
    p{
        line-height: 15px;        
        padding-left:5px;
        padding-bottom: 5px;             
    }    
    ul{
        list-style-type: none;
        // border: solid blue 2px;
        // border-radius: 10px;         
        background-color: rgba(180, 180, 180, 0.5);
        overflow:auto;
        padding: 2px;
        max-height: 75.5vh;
        margin-top: 0px;
        margin-bottom: 10px;        

    }
    li{
        margin: 5px; 
        border-radius: 5px;       
        margin-top: 0px;               
        list-style-type: none;
        padding: 0px;        
        background-color:white;
    }

    .containerForum{
        overflow-y: auto;        
        
    }
   .comentario{       
       
       margin-left: 0px;
       margin-right: 0px;
       background-color:rgba(255, 255, 255, 0);
       
       
       
       .divComentario{           
           background-color: white;
           padding-left: 0px;
           padding-bottom: 0px;
           padding-top: 0px;
           margin-top:0px;
           margin-bottom:0px;
           margin-right:0px;
           overflow: auto;          

           
       }
       .dados{
            font-size: 10pt;
            color: #75767B;
            justify-content: left;
            background-color: white;
            padding: 5px;
        
       }
       .texto{
            font-size: 12pt;
            margin:0px;
            font-weight: bold;
            color: black;
            justify-content: left;
            background-color: white;
       }
       .interesse{
           margin-right: 5px;
           padding-top: 2px;
           padding-bottom: 2px;
           padding-left: 10px;
           padding-right: 10px;
           font-size: 10pt;
           color: white;
           background: #7dd9f5;
           justify-content: left;
       }
       .tag{
            margin-right: 5px;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 10pt;
            color: white;
            background: #fc6161;
            justify-content: left;
            }
   }   
   .respostas{
       display: block;
       padding-left: 0px;
       width: 96%;
       margin-left: 20px;
    
    .dados{
         font-size: 10pt;
         color: #75767B;
         justify-content: left;                  
    }    
    .texto{
         font-size: 12pt;
         font-weight: bold;
         color: black;
         justify-content: left;
    }
    .interesse{
        margin-right: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 10pt;
        color: white;
        background: #7dd9f5;
        justify-content: left;
    }
    .tag{
         margin-right: 5px;
         padding-top: 2px;
         padding-bottom: 2px;
         padding-left: 10px;
         padding-right: 10px;
         font-size: 10pt;
         color: white;
         background: #fc6161;
         justify-content: left;

    }
    
}

}
//scroll bar

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    //border-radius: 10px;     
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 255, 0.438);
    //border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: blue; 
  }

  //dropdown filter

  .wrapper-filter {
    position: relative;  
    width: 100%;    
    margin-bottom: 10px;
  }

  .dropdown-closed { 
    overflow: hidden; 
    height: 0px;
    transition: height 0.5s; 
  }
  
  .dropdown-open-filter { 
    overflow: hidden;  
    height: 200px;
    transition: height 0.5s; 
  }
  //filters

  .radio {
      font-size: 12px;
      margin: auto;
      
      .reset {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        justify-content: center;
        height: 25px;
        background-color: white;
        padding: 5px 5px;
        font-family: sans-serif, Arial;
        border: 2px solid blue;
        border-radius: 4px;
        transition-duration: 0.4s;
            } 
            .reset:hover {
                background-color:rgba(0, 0, 255, 0.438);
                }
            .reset:active {
                background-color: blue;
                border: 2px solid blue;
            }
    
      
      label {        
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        justify-content: center;        
        width: 15%;
        height: 25px;
        background-color: white;
        padding: 5px 5px;
        font-family: sans-serif, Arial;
        border: 2px solid blue;
        border-radius: 4px;
        transition-duration: 0.4s;        
            }
        
    label:hover {        
        background-color:rgba(0, 0, 255, 0.438);
      }      

      input[type="radio"] {
          opacity: 0;
          position: fixed;
          width: 0;
      }      

      input[type="radio"]:checked + label {
          background-color: blue;
          color: white;
      }

      input[type="radio"]:focus + label {
        border: 2px dashed blue;    
      }
  }


//   .bubble {
//       display: table-cell;
//       text-align: center;
//       vertical-align: middle;
//       label {

//       }
//   }


  

  