$fundo : #DBDBDB;
$corFormulario : #75767B;
$input : #f2f3f6da;
$defaulColor : #8b8b8b;
$hoverButton : #b6b6b6;
$fundoForum : #DBDBDB;
$fundoComentario : #D5D9F0;
$novoComentario : #ffffff;
$buttonComentario : #8b8b8b;




#forum{
    p{
        line-height: 15px;
    }    
    ul{
        list-style-type: none;
    }
    li{
        list-style-type: none;
    }

    .containerForum{
        height: 70.3vh;
        overflow-y: scroll;
    }
   .comentario{
       .divComentario{
           background-color: white;
           padding-left: 7px;
           padding-bottom: 1px;
           padding-top: 1px;
       }
       .dados{
            font-size: 10pt;
            color: #75767B;
            justify-content: left;
       }
       .texto{
            font-size: 12pt;
            font-weight: bold;
            color: black;
            justify-content: left;
       }
       .interesse{
           margin-right: 5px;
           padding-top: 2px;
           padding-bottom: 2px;
           padding-left: 10px;
           padding-right: 10px;
           font-size: 10pt;
           color: white;
           background: #7dd9f5;
           justify-content: left;
       }
       .tag{
            margin-right: 5px;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 10pt;
            color: white;
            background: #fc6161;
            justify-content: left;

       }
   }
   .respostas{
       display: block;
    
    .dados{
         font-size: 10pt;
         color: #75767B;
         justify-content: left;
    }
    .texto{
         font-size: 12pt;
         font-weight: bold;
         color: black;
         justify-content: left;
    }
    .interesse{
        margin-right: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 10pt;
        color: white;
        background: #7dd9f5;
        justify-content: left;
    }
    .tag{
         margin-right: 5px;
         padding-top: 2px;
         padding-bottom: 2px;
         padding-left: 10px;
         padding-right: 10px;
         font-size: 10pt;
         color: white;
         background: #fc6161;
         justify-content: left;

    }
}
}