@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
#plataforma {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: #DBDBDB;
  position: relative;
}

#plataforma .modelo-forum {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
}

#plataforma .modelo-forum div .infoName {
  position: relative;
  top: 30px;
  padding-top: 1%;
  background-color: black;
  color: white;
  text-align: center;
  height: 40px;
  border-style: solid none none none;
  border-color: #75767B;
}

#plataforma .modelo-forum div .infoBar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 65%;
      grid-template-columns: 35% 65%;
}

#plataforma .modelo-forum div .infoBar .click {
  padding: 20px;
  padding-left: 40px;
  margin-top: 40px;
  border-style: none solid none none;
  border-width: 1px;
}

#plataforma .modelo-forum div .infoBar .fixed {
  padding: 20px;
  margin-top: 40px;
}

#plataforma #barra-navegacao {
  background-color: black;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#plataforma #barra-navegacao .item-navegacao {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#plataforma #barra-navegacao div {
  margin-right: 10px;
  margin-left: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  display: inline;
}

#plataforma #barra-navegacao a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: white;
  text-decoration: none;
}

#forum {
  border: .5px black;
  border-style: none none none solid;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5% 75% 20%;
      grid-template-rows: 5% 75% 20%;
  height: 94vh;
  background-color: #F4F5FF;
}

#forum li {
  list-style: none;
}

#forum .forumName {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  border-style: none none solid none;
  opacity: 0.4;
}

#forum .forumArea {
  overflow-y: scroll;
}

#forum .forumArea .comentario {
  padding-top: 20px;
}

#forum .forumArea .comentario .respostas {
  margin-left: 80px;
}

#forum .forumArea .comentario .perfil {
  font-size: 12px;
  margin-left: 15px;
}

#forum .forumArea .comentario .texto {
  margin: 15px;
  margin-left: 50px;
  padding: 7px;
  background-color: #D5D9F0;
  border-radius: 10px 10px 10px 10px;
  font-size: 14px;
}

#forum .comentarioForum {
  border: 1px gray;
  border-style: solid none none none;
  position: relative;
  left: 50%;
  top: 20%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#novoComentario {
  margin-left: 50px;
  display: inline;
}

#novoComentario textarea {
  border: none;
  resize: none;
  color: white;
  padding: 10px;
  border-radius: 20px;
  background-color: #7A87D1;
}

#novoComentario button {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 1px 0px;
          box-shadow: 0px 0px 1px 0px;
  background-color: #7383AA;
  border-radius: 25px;
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 50px;
  border: none;
}

#novoComentario button img {
  position: relative;
  left: 1px;
  bottom: 2px;
  width: 50%;
}

/* Line 2 */
/*# sourceMappingURL=plataforma.css.map */