@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
.annotation-marker {
  color: #ffffff;
  line-height: 1.8;
  text-align: center;
  font-family: "monospace";
  font-weight: bold;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  border: 2px solid #ffffff;
  background: black;
  visibility: hidden;
  -webkit-box-shadow: 5px 5px 15px 1px #000000;
          box-shadow: 5px 5px 15px 1px #000000;
  z-index: -20;
}

.annotation-label {
  visibility: hidden;
  position: absolute;
  max-width: 250px;
  min-height: 50px;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  background: #ffffff;
  color: #000000;
  border-radius: 8px;
  border: #ffffff solid 2px;
  -webkit-box-shadow: 5px 5px 15px 1px #000000;
          box-shadow: 5px 5px 15px 1px #000000;
  z-index: -20;
}

.annotation-label:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 8px 12px 8px 0;
  border-color: transparent white;
  display: block;
  width: 0;
  z-index: -20;
  margin-top: -11px;
  left: -12px;
  top: 20px;
}

.annotation-label:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 13px 9px 0;
  border-color: transparent #ffffff;
  display: block;
  width: 0;
  z-index: -20;
  margin-top: -12px;
  left: -15px;
  top: 20px;
}

.annotation-title {
  font: normal 20px arial, serif;
  margin-bottom: 8px;
}

.annotation-desc {
  font: normal 14px arial, serif;
}

#treeViewContainer {
  padding-top: 25px;
  pointer-events: all;
  height: 30%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.86);
  color: black;
  top: 10%;
  z-index: 200000;
  float: left;
  left: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  width: 300px;
}

#treeViewContainer ul {
  list-style: none;
  padding-left: 1.75em;
}

#treeViewContainer ul li {
  position: relative;
  width: 500px;
}

#treeViewContainer ul li a {
  background-color: #eee;
  border-radius: 50%;
  color: #000;
  display: inline-block;
  height: 1.5em;
  left: -1.5em;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 1.5em;
}

#treeViewContainer ul li a.plus {
  background-color: #ded;
}

#treeViewContainer ul li a.minus {
  background-color: #eee;
}

#treeViewContainer ul li a:active {
  top: 1px;
}

#treeViewContainer ul li span {
  display: inline-block;
  width: calc(100% - 50px);
  padding-left: 2px;
}

#treeViewContainer ul li span:hover {
  color: white;
  cursor: pointer;
  background: black;
  padding-left: 2px;
}

#treeViewContainer .highlighted-node {
  /* Appearance of node highlighted with TreeViewPlugin#showNode() */
  border: black solid 1px;
  background: yellow;
  color: black;
  padding-left: 1px;
  padding-right: 5px;
}

#plataforma {
  font-family: 'Arial', sans-serif;
  height: 100%;
  background-color: #DBDBDB;
  position: relative;
}

#plataforma .modelo-forum {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
}

#plataforma .modelo-forum div .infoName {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  position: relative;
  top: 25px;
  background-color: #8b8b8b;
  color: white;
  height: 40px;
  border-style: none none none solid;
  border-color: #75767B;
}

#plataforma .modelo-forum div .infoName .left {
  padding-top: 1%;
  padding-left: 30%;
  text-align: left;
}

#plataforma .modelo-forum div .infoName .right {
  padding-top: 1%;
  padding-right: 30%;
  text-align: right;
}

#plataforma .modelo-forum div .infoBar {
  display: -ms-grid;
  display: grid;
  height: 15vh;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  background-color: #8b8b8b;
}

#plataforma .modelo-forum div .infoBar .click {
  color: white;
  font-size: 12px;
  line-height: 12px;
  padding: 20px;
  padding-left: 40px;
  margin-top: 20px;
  border-style: none none none none;
  border-width: 1px;
}

#plataforma .modelo-forum div .infoBar .fixed {
  line-height: 12px;
  padding: 0px;
  margin-top: 0px;
  font-size: 12px;
}

#plataforma #barra-navegacao {
  background-color: #8b8b8b;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#plataforma #barra-navegacao .item-navegacao {
  position: relative;
  float: left;
  left: 80%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin-left: 10px;
}

#plataforma #barra-navegacao div {
  margin-right: 10px;
  margin-left: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  display: inline;
}

#plataforma #barra-navegacao a {
  font-family: -apple-system, BlinkMacSystemFont, 'Arial', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: white;
  text-decoration: none;
}

#plataforma #barra-navegacao .logo {
  -ms-flex-line-pack: left;
      align-content: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  height: 40px;
  margin-left: 0px;
  margin-top: 0px;
}

#plataforma #barra-navegacao img {
  height: 40px;
  padding: 0px;
  background-color: white;
}

/* Line 2 */
/*# sourceMappingURL=plataforma.css.map */