$fundo : #DBDBDB;
$corFormulario : #75767B;
$input : #f2f3f6da;
$defaulColor : black;
$hoverButton : #b6b6b6;
$fundoForum : #F4F5FF;
$fundoComentario : #D5D9F0;
$novoComentario : #7A87D1;
$buttonComentario : #7383AA;




@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');


#plataforma{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-color: $fundo;
    position: relative;


    .modelo-forum{
        display: grid;
        grid-template-columns: 70% 30%;
        div{
            .infoName{
                padding-top: 1%;
                background-color: $defaulColor;
                color: white;
                text-align: center;
                height: 40px;
                border-style: solid none none none;
                border-color: $corFormulario;
            }
            .infoBar{
                display: grid;
                grid-template-columns: 35% 65%;
                .click{
                    padding: 20px;
                    padding-left: 40px;
                    margin-top: 40px;
                    border-style: none solid none none;
                    border-width: 1px;
                }
                .fixed{
                    padding: 20px;
                    margin-top: 40px;
                }
            }
        }
    }



    #barra-navegacao{
        background-color: $defaulColor;
        height: 60px;
        display: flex;
        align-items: center;
        .item-navegacao{
            // width: max-content;
            position: relative;
            left: 50%;
            transform: translate(-50%,0);
        }
        div{
            margin-right: 10px;
            margin-left: 10px;
            align-content: center;
            display: inline;
        }
        a{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 15px;
            font-weight: 300;
            color: white;
            text-decoration: none;
        }
    }
}



#forum{
    // height: 94vh;
    border: .5px black;
    border-style: none none none solid;
    li{
        list-style: none;
    }
    display: grid;
    grid-template-rows: 5% 75% 20%;
    height: 94vh;

    .forumName{
        // position: relative;
        width: max(100%);
        text-align: center;
        margin-top: 10px;
        align-content: center;
        border-style: none none solid none ;
        opacity: 0.4;
    }

    background-color: $fundoForum;
    
    .forumArea{
        overflow-y: scroll;
        .comentario{
            .respostas{
                margin-left: 80px;
            }
            padding-top: 20px;
            .perfil{
                font-size: 12px;
                margin-left: 15px;
            }
            .texto{
                margin: 15px;
                margin-left: 50px;
                padding: 7px;
                background-color: $fundoComentario;
                border-radius: 10px 10px 10px 10px;
                font-size: 14px;
            }
        }

    }

    .comentarioForum{
        border: 1px gray;
        border-style: solid none none none;
        position: relative;
        left: 50%;
        top: 20%;
        transform: translate(-50%,0);
    }
}


#novoComentario{
    margin-left: 50px;
    display: inline;

    textarea{
        border: none;
        resize: none;
        color: white;
        padding: 10px;
        border-radius: 20px;
        background-color: $novoComentario;        
    }
    button{
        cursor: pointer;
        box-shadow: 0px 0px 1px 0px;
        background-color: $buttonComentario;
        border-radius: 25px;
        width: 30px;
        height: 30px;
        position: relative;
        bottom: 50px;
        border: none;
        img{
            position: relative;
            left: 1px;
            bottom: 2px;
            width: 50%;
        }
    }
}




/* Line 2 */


