$fundo : #DBDBDB;
$corFormulario : #75767B;
$input : #f2f3f6da;
$defaulColor : #8b8b8b;
$hoverButton : #b6b6b6;
$fundoForum : #DBDBDB;
$fundoComentario : #D5D9F0;
$novoComentario : #ffffff;
$buttonComentario : #8b8b8b;




@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

#treeViewContainer {
    padding-top: 25px;
    pointer-events: all;
    height: 30%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.86);
    color: black;
    top: 7%;
    z-index: 200000;
    float: left;
    left: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    width: 300px;
  }
  
  #treeViewContainer ul {
    list-style: none;
    padding-left: 1.75em;
  }
  
  #treeViewContainer ul li {
    position: relative;
    width: 500px;
  
  }
  
  #treeViewContainer ul li a {
    background-color: #eee;
    border-radius: 50%;
    color: #000;
    display: inline-block;
    height: 1.5em;
    left: -1.5em;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 1.5em;
  }
  
  #treeViewContainer ul li a.plus {
    background-color: #ded;
  }
  
  #treeViewContainer ul li a.minus {
    background-color: #eee;
  }
  
  #treeViewContainer ul li a:active {
    top: 1px;
  }
  
  #treeViewContainer ul li span {
    display: inline-block;
    width: calc(100% - 50px);
    padding-left: 2px;
  }
  
  #treeViewContainer ul li span:hover {
    color: white;
    cursor: pointer;
    background: black;
    padding-left: 2px;
  }
  
  #treeViewContainer .highlighted-node { /* Appearance of node highlighted with TreeViewPlugin#showNode() */
    border: black solid 1px;
    background: yellow;
    color: black;
    padding-left: 1px;
    padding-right: 5px;
  }


#plataforma{
    font-family: 'Arial', sans-serif;
    height: 100vh;
    background-color: $fundo;
    position: relative;


    .modelo-forum{
        display: grid;
        grid-template-columns: 70% 30%;
        div{
            .infoName{
                position: relative;
                top: 30px;
                padding-top: 1%;
                background-color: $defaulColor;
                color: white;
                text-align: center;
                height: 40px;
                border-style: solid none none none;
                border-color: $corFormulario;
            }
            .infoBar{
                display: grid;
                grid-template-columns: 35% 65%;
                .click{
                    padding: 20px;
                    padding-left: 40px;
                    margin-top: 40px;
                    border-style: none none none none;
                    border-width: 1px;
                }
                .fixed{
                    padding: 20px;
                    margin-top: 40px;
                }
            }
        }
    }



    #barra-navegacao{
        background-color: $defaulColor;
        height: 60px;
        display: flex;
        align-items: center;
        .item-navegacao{
            // width: max-content;
            position: relative;
            left: 90%;
            transform: translate(-50%,0);
        }
        div{
            margin-right: 10px;
            margin-left: 10px;
            align-content: center;
            display: inline;
        }
        a{
            font-family: -apple-system, BlinkMacSystemFont, 'Arial', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 20px;
            font-weight: 300;
            color: white;
            text-decoration: none;
        }
    }
}








/* Line 2 */


