<!DOCTYPE html>
<html lang="pt">
<head>

    <meta charset="UTF-8">
    <title>Bim Nomads</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/annotation.css">
	<!-- Load XEOKIT -->
    <script type="module" src="./js/xeokit1.js"></script>
    <!--<script type="module" src="./js/xeokit2.js"></script> 
    <script type="module" src="./js/xeokit3.js"></script>-->
</head>
<body> 
    <div id='app'>
      <!-- Barra de navegação -->
          
          <div id="flexnave"> 
        <section class="flex">
            <div class="flexbox">
            <!-- essa parte é o lado esquerdo -->
                <div class="frame left" v-bind:style="{width: len_esq+'vw',height : len_height_esq+'vh'}">
                    <div class="resize_left">
                        <input v-if="flag_min_left != -1" v-on:click="minLeft" type="image" src="./imagens/left.png" ></input>
                        <input v-if="flag_min_left != 1" v-on:click="raiseLeft" type="image" src="./imagens/right.png"></input>
                    </div>
                    <section class="grid_canvas">                    
                        <div> 
                            <canvas id="canvas_main" v-if="main_flag == 0" class="canvas_main" v-bind:style="{marginTop: 10+'vh',width: 13+'vw',height : 17+'vh'}" v-on:click="forceRerender_main"></canvas>
                            <canvas id="canvas_aux1" v-if="aux1_flag == 0" class="canvas_aux1" v-bind:style="{marginTop: 10+'vh',width: 13+'vw',height : 17+'vh'}" v-on:click="forceRerender_aux1"></canvas>
                            <canvas id="canvas_aux2" v-if="aux2_flag == 0"  class="canvas_aux2" v-bind:style="{marginTop: 10+'vh',width: 13+'vw',height : 17+'vh'}" v-on:click="forceRerender_aux2" ></canvas>    
                        </div>
                        <div>
                            <canvas id="canvas_main" v-if="main_flag == 1" class="canvas_main" v-bind:style="{marginTop: -5+'vh',width: 80+'%',height : 82.5+'vh',marginLeft: 10+'px'}"  :key="main_flag" :key="len_esq"></canvas>
                            <canvas id="canvas_aux1" v-if="aux1_flag == 1"  class="canvas_aux1" v-bind:style="{marginTop: -5+'vh',width: 80+'%',height : 82.5+'vh',marginLeft: 10+'px'}" :key="aux1_flag" ></canvas>
                            <canvas id="canvas_aux2" v-if="aux2_flag == 1" class="canvas_aux2"  v-bind:style="{marginTop: -5+'vh',width: 80+'%',height : 82.5+'vh',marginLeft: 10+'px'}"  :key="aux2_flag"></canvas>    
                        </div>
                      
                    </section> 
                </div>
                <!-- lado direito -->
                    <div class="frame right" v-bind:style="{zIndex:10,width: len_dir+'vw',height : len_height_dir+'vh'}">
                        <div class="resize_right">
                            <input v-if="flag_min_right != 1" v-on:click="raiseRight" type="image" src="./imagens/left.png" ></input>
                            <input v-if="flag_min_right != -1" v-on:click="minRight" type="image" src="./imagens/right.png"></input>
                        </div>                  						
                    </div>
                </div>
                <!-- parte de baixo  -->
                <div class=" down" v-bind:style="{height: len_height_down+ 'vh'}">
                    <!-- <div class="resize_down">
                        <input v-if="flag_min_down != 1" v-on:click="raiseDown" type="image" src="./images/up.png"></input>
                        <input v-if="flag_min_down != -1" v-on:click="minDown"type="image" src="./images/down.png"></input>
                    </div> -->
                </div>
        </section>
    </div>
  

</body>
    <script src="./js/main.js"></script>


</html>