@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
#navbar{
    font-family: 'Roboto';
    position: relative;
    background-color:#687681;
    width: 100%;
    height: 60px;
    box-shadow: 0.1px 0.1px 15px 0.1px #273c75;
}
#navbar ul{
    display: grid;
    grid-template-columns: .1fr .1fr .1fr;
    height: 60px;
    margin: 0px;
    box-sizing: border-box;
    align-items: center;
}

#navbar ul li{
    box-sizing: border-box;
    padding-top: 20px;
    align-items: center;
    text-align: center;
    list-style-type: none;
    width: 80px;
    height: 60px;
}

#navbar ul li:hover{
    background-color:#373d42;
}