@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


#navbar{
    background-color:#222;
    position: relative;
    font-family: 'Roboto';
    width: 20%;
    left: 80%;
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-items: center;
    
}

#navbar .menu-item{
    color: #FFF;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    border-bottom: 3px solid transparent;
    display: flex;
    transition: 0.4s;
}

#navbar .menu-item.active,
#navbar .menu-item:hover{
    background-color: #444;
    border-bottom-color: #FFF;
}

#navbar .menu-item a{
    color: inherit;
    text-decoration : none;
}
