#navbar{
    position: relative;
    background-color:#687681;
    width: 100vw;
    height: 50px;
}
#navbar ul{
    margin: 0px;
    padding-top: 15px;
    box-sizing: border-box;
}

#navbar ul li{
    list-style-type: none;
    display: inline;
    /* background-color: blue; */
    border-radius: 3px;
    -moz-border-radius: 3px;

}