@media(min-width: 1367px){
    #canvas_main{
        position: absolute;
        top: 60px;
        left: 8px;
        width : 70vw;
        height: 92.5vh;    
    }
}

@media(max-width : 1366px){
    #canvas_main{
        position: absolute;
        top: 60px;
        left: 8px;
        width : 60vw;
        height: 89vh;    
    }
}