#layoutMain{
    display: grid;
    grid-template-columns: 1fr .4fr;
    box-sizing: border-box;
}

#leftSide{
    display: grid;
    grid-template-rows: .5fr 6fr 1.2fr;
}

.canvasDiv{
    background-color: #d6d3d3;
}

.generalInfo{
    background-color: #a1a1a1;
}

.infoSpace{
    background-color: #a1a1a1;
}