$fundo : #ffffff;
$corFormulario : #bebebe;
$input : #f2f3f6da;
$defaulColor : #8b8b8b;
$hoverButton : #b6b6b6;



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');


#tela-cadastro{
    font-family: 'Arial', sans-serif;
    height: 100vh;
    background-color: $fundo;
    position: relative;
    #barra-navegacao{
        background-color: $defaulColor;
        height: 60px;
        display: flex;
        align-items: center;
        .item-navegacao{
            // width: max-content;
            position: relative;
            left: 90%;
            transform: translate(-50%,0);
        }
        div{
            margin-right: 10px;
            margin-left: 10px;
            align-content: center;
            display: inline;
        }
        a{
            font-family: -apple-system, BlinkMacSystemFont, 'Arial', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 20px;
            font-weight: 300;
            color: white;
            text-decoration: none;
        }
    }
    
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #formulario{
        position: absolute;
        top: 62%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        background-color: $corFormulario;
        width: 564px;
        height: 650px;
        border-radius: 10px 10px 10px 10px;
        .bloco-entradas{
            // position: relative;
            margin-top: 120px;
            margin-left: 50%;
            transform: translate(-70%, 0);
            input{
                position: relative;
                width: 332px;
                background: none;
                border: 0;
                display: block;
                text-align: center;
                font-size: 20px;
                margin: 20px;
                border: 1px solid white;
                padding: 13px 10px;
                outline: none;
                border-radius: 5px 5px 5px 5px;
                color: $corFormulario;
                background-color: $input;
            }
            li{
                list-style: none;
            }
        }
    }
    .button-class{
        display: flex;
        flex-flow: column;
        position: relative;
        left: 89%;
        a{
            width: fit-content;
            // box-shadow: 0px 0px 0px px;
            color: white;
            cursor: pointer;
            margin-top: 20px;
            font-family: 'Arial';
            font-size: 14px;
            font-weight: 350;
            position: relative;
            bottom: 2px;
            left: 5px;
        }
        button{
            border: none;
            cursor: pointer;
            box-shadow: 0px 0px 0px;
            border-radius: 10px 10px 10px 10px;
            width: 120px;
            height: 50px;
            font-size: 20px;
            &:hover{
                background-color: $hoverButton;
            }
        }
        transform: translate(-50%,0);
    }
}