#buttonZ{
    position: relative;
    left: 30px;
    top: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-items: center;
}

#buttonZ .button-item{
    padding-left: 4px;
}


#buttonZ a{
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    background-color: #5f5f5f;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
}