@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");



#cadastro{
    display: grid;
    grid-template-rows: 1fr 8fr;
}

#cadastro .textoCadastro{
    font-size: 25px;
    position: relative;
    left: 40%;
}

#cadastro .form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: burlywood; */
}

#cadastro .formulario .caixa{
    /* background-color: cornflowerblue; */
    height: 90px;
    font-family: 'Roboto';
    height: 60px;
    width: 80%;
    position: relative;
    /* background-color: cornflowerblue; */
    left: 10%;
}
#cadastro .formulario .caixa input{
    /* background-color: cornflowerblue; */
    height: 30px;
    width: 95%;
    font-size: 15px;
    position: relative;
}
 
#cadastro .formulario .caixa p{
    font-size: 14px;
}

