@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


#comentario{
    position: relative;
    /* z-index: 30; */
    background-color: rgb(252, 247, 240);
}

ul{
    overflow-y: scroll;
    list-style: none;

}


#comentario .mainName{
    font-family: -apple-sy -apple-sysstem, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: white;
    background-color: #222;
    padding: 10px;
    width: calc(100% - 16px);
    border-radius: 5px 5px 5px 5px;
}

#mainCom{
    position: relative;
    left: 2px;
    border-radius: 0px 0px 16px 16px;
}


#comentario .mainBody{
    /* background-color: khaki; */
    padding: 5px;
}

#answer {
    position: relative;
    left: 40px;
    width: calc(100% - 49px);
}