#inicial{
    background-color: white;
    height: 50vh;
    width: 50vw;
    position: relative;
    left: 25%;
    top: 20vh;
    border-radius: 10px 10px 10px 10px;
}

#imgNomads{
    position: absolute;
    left: 7%;
    top: 21%;
    width: 12%;
}