$colorLogin : #5f737e;
$colorSubmit : #2f373b;

#loginComponent{
    height: 100vh;
    #outdoor-Inicial{
        // text-align: center;
        background: $colorLogin;
        height: 30%;
        P{
            font-size: 50px;
            color: white;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            top: 40%;
            margin-top: 0;
            width: fit-content;
        }
        img{
            position: absolute;
            padding: 30px;
            width: 10%;
        }

    }
    #user-Area{
        text-align: center;
        height: 70%;
        .formulario{
            background-color: $colorLogin;
            position: absolute;
            top: 62%;
            left: 50%;
            transform: translate(-50%,-62%);
            width: 600px;
            padding: 30px;
            border-radius: 10px 10px 10px 10px;
            text-align: center;


            form{
                input[type = 'text'], input[type = 'password']{
                    position: relative;
                    width: 89%;
                    background: none;
                    border: 0;
                    display: block;
                    text-align: center;
                    margin: 20px;
                    border: 2px solid white;
                    padding: 14px 10px;
                    outline: none;
                    border-radius: 10px 10px 10px 10px;
                    color: white;
                }
                button{
                    position: relative;
                    width: 30%;
                    background: none;
                    border: 0;
                    border: 2px solid white;
                    padding: 14px 10px;
                    outline: none;
                    border-radius: 10px 10px 10px 10px;
                    color: white;
                    text-align: center;
                    &:hover{
                        background: $colorSubmit;
                    }
                    
                }
            }

        }
    }
}

